<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367992579937-3muk849mp4o1sdr4hpnvh6qrqk913snv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367992579937-3muk849mp4o1sdr4hpnvh6qrqk913snv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367992579937-m2aa5vuotd1d8imm2i8ngv9ic7v46ja8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcrVppQJlZqXoEEp8gtsiTCBMSJ3pIwU</string>
	<key>GCM_SENDER_ID</key>
	<string>367992579937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWardApp</string>
	<key>PROJECT_ID</key>
	<string>patient-list-671bf</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-list-671bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367992579937:ios:0a05a04a4f3e6d34fec720</string>
	<key>DATABASE_URL</key>
	<string>https://patient-list-671bf.firebaseio.com</string>
</dict>
</plist>